.settingContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    left: 20%;
    margin-top: 5vh;

    button{
        position: relative;
        left: 50%;
        width: 5%;
        height: 50%;
    }

    .exitGroup,.editBtn{
        margin-left: 30%;
    }
    .editBtn{
        margin-top: 2vh;
    }

    .imgGroup{
        border-radius: 50%;
        width: 42%;
        margin-left: 17rem;
        margin-bottom: 5vh;
        border: solid 5px rgb(209, 209, 209);
        padding: 20px;
        box-shadow: 2px 4px 10px rgb(124, 124, 124);
    }
    div{
        margin-left: 32%;
    }

    .groupMembers{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        margin-top: 10vh;
        margin-bottom: 20vh;


        .title{
            text-align: center;
            background-color: red;
            position: absolute;
            left: 40%;
        }

        
        section{
            width: 35%;
            margin-top: 8vh;
            position: relative;
            left: 12%;

            img{
               position: relative;
               left: 3%;
               border-radius: 50%;
               box-shadow: 2px 4px 10px #000;
            }

        }
    }

}