@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.container .screen {
  background: -webkit-gradient(linear, left top, right top, from(#5D54A4), to(#7C78B8));
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 600px;
  width: 360px;
  -webkit-box-shadow: 0px 0px 24px #5C5696;
          box-shadow: 0px 0px 24px #5C5696;
}

.container .screen .screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.container .screen .screen__content .login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.container .screen .screen__content .login .login__field {
  padding: 20px 0px;
  position: relative;
}

.container .screen .screen__content .login .login__field .login__input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  -webkit-transition: .2s;
  transition: .2s;
}

.container .screen .screen__content .login .login__field .login__input:active,
.container .screen .screen__content .login .login__field .login__input:focus,
.container .screen .screen__content .login .login__field .login__input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.container .screen .login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #4C489D;
  -webkit-box-shadow: 0px 2px 2px #5C5696;
          box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.container .screen .login__submit:active,
.container .screen .login__submit:focus,
.container .screen .login__submit:hover {
  border-color: #6A679E;
  outline: none;
}

.container .screen .screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.container .screen .screen__background .screen__background__shape {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

.container .screen .screen__background .screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #FFF;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.container .screen .screen__background .screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #6C63AC;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.container .screen .screen__background .screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: -webkit-gradient(linear, right top, left top, from(#5D54A4), to(#6A679E));
  background: linear-gradient(270deg, #5D54A4, #6A679E);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.container .screen .screen__background .screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #7E7BB9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.container_signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.container_signUp .screen {
  background: -webkit-gradient(linear, left top, right top, from(#5D54A4), to(#7C78B8));
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 600px;
  width: 360px;
  -webkit-box-shadow: 0px 0px 24px #5C5696;
          box-shadow: 0px 0px 24px #5C5696;
}

.container_signUp .screen .screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.container_signUp .screen .screen__content .signUp {
  width: 320px;
  padding: 19px 0 0 49px;
}

.container_signUp .screen .screen__content .signUp .signUp__field {
  padding: 20px 0px;
  position: relative;
}

.container_signUp .screen .screen__content .signUp .signUp__field .signUp__input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  -webkit-transition: .2s;
  transition: .2s;
}

.container_signUp .screen .screen__content .signUp .signUp__field .signUp__input:active,
.container_signUp .screen .screen__content .signUp .signUp__field .signUp__input:focus,
.container_signUp .screen .screen__content .signUp .signUp__field .signUp__input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.container_signUp .screen .signUp__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #4C489D;
  -webkit-box-shadow: 0px 2px 2px #5C5696;
          box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.container_signUp .screen .signUp__submit:active,
.container_signUp .screen .signUp__submit:focus,
.container_signUp .screen .signUp__submit:hover {
  border-color: #6A679E;
  outline: none;
}

.container_signUp .screen .screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.container_signUp .screen .screen__background .screen__background__shape {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

.container_signUp .screen .screen__background .screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #FFF;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.container_signUp .screen .screen__background .screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #6C63AC;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.container_signUp .screen .screen__background .screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: -webkit-gradient(linear, right top, left top, from(#5D54A4), to(#6A679E));
  background: linear-gradient(270deg, #5D54A4, #6A679E);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.container_signUp .screen .screen__background .screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #7E7BB9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.profile_user {
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20%;
  padding-top: 2%;
}

.profile_user img {
  border-radius: 50%;
}

.profile_user div {
  margin-left: 5%;
}

.profile_user div h1 {
  font-family: 'Lato', sans-serif;
}

.footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer div {
  width: 20%;
}

.footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.copyright {
  background-color: #26272b;
  color: white;
}

.copyright a {
  list-style: none;
  color: white;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
/*# sourceMappingURL=index.css.map */