* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import "./Components//Pages/Login/Login";
    @import "./Components/Pages/SignUp/SignUp";
    @import "./Components/Pages/Profile/Profile";
    @import "./Components/Layout/Footer/Footer";
    @import "./Components/Pages/Home/Home";
    @import "./Components/Pages/Inventory/Inventory";
}