.containerUserProfiles{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 10vh;

}



.userCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	max-width: 300px;
	margin-top: 5vh;
	font-family: arial;
	border-radius: 4px;
	text-align: center;
  }
  .userPic{
	  width: 100%;
	  height: 65%;
  }
  
  .ButtonsContainer{
	  display: flex;
  }

  .isLogIn {
	color: grey;
	font-size: 16px;
  }

  .addMemberForm{
	  margin:3vh; 
	  display: flex;
	  justify-content: space-between;
	  max-width:30% ;
  }


