 .inventoryContainer{
    //  background-color: rgb(153, 147, 147);
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     width: 100%;
     margin-bottom: 4.5vh;
 }
 
 .inventoryProducts{
   width: 90%;
   height: 25vh;
   margin-top: 5vh;
   display: flex;
   align-items: center;
   border-radius: 10px;
   font-size: 1.5rem; 
   background-image: url('https://cdn.pixabay.com/photo/2021/02/02/18/30/icon-5974829__480.png');
   background-size: 50%;
   background-position: center;
   box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.46);


   img{
       border-radius: 50%;
       justify-self: flex-end;
       width: 18%;
       height: 70%;
       margin-left: 1rem;
   }

   .quantityControls{
        display: flex;
        width: 30%;
        height: 40%;
        h1{
            margin-top: 3vh;
        }
        button{
           width: 30%;
           height: 50%;
           font-size: 2rem;
           text-align: center;
           margin: auto;
        }
   }

   .productsInfo{
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       margin: auto;
       padding-left: 5rem;
       width: 30%;
       height: 80%;
   }

   .productsOpertaions{
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       width: 15%;
       height: 60%;
       margin: auto;
       
       button{
            height: 25%;
            width: 80%;
       }
   }

   button{
       background-color: '#fff';
       border-radius: 10px;
       font-size: 1rem;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
 }

 .quentityLessThen3{
     background-color: rgb(235, 170, 170);
 }


