.profile_user {
    padding: auto;
    display: flex;
    margin-left: 20%;
    padding-top: 2%;

    // justify-content: space-around;
    img {
        border-radius: 50%;
    }

    div {
        margin-left: 5%;

        h1 {
            @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
            font-family: 'Lato', sans-serif;
        }
    }
}