.profile {
    display: flex;
    flex-direction: row-reverse;

    .profile_user {
        padding: auto;
        display: flex;
        margin-left: 2%;
        padding-top: 2%;

        img {
            border-radius: 50%;
        }

        div {
            margin-left: 5%;

            h1 {
                @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
                font-family: 'Lato', sans-serif;
            }
        }
    }

    .formInfo {
        display: flex;
        flex-direction: row-reverse;

        .f {
            background: green;
            margin: 3%;
            padding: 3%;
        }

        .c {
            background: yellow;
        }
    }


}